extend layout.jade

block navbar
    - var path = 'index.html'
    include partial/navbar.jade

block content
    h1 Jade練習頁面

        ul
            li
                a(href="#") link
            li
                a(href="#") link
            li
                a(href="#") link

        h3: a(href="#"): span 連結
        hr

        .container
            form(action="")
                label(for="email") 請輸入Email
                input#email.form-control.input-sm(type="text")


        script(src="js/all.js")