extend layout.jade

block navbar
    include partial/navbar.jade

block content
    h1 #{menu.list[1].name}
    h1 Content

        ul
            li
                a(href="#") link
            li
                a(href="#") link
            li
                a(href="#") link

        h3: a(href="#"): span 連結
        hr

        .container
            form(action="")
                label(for="email") 請輸入Email
                input#email.form-control.input-sm(type="text")


        script(src="js/all.js")